<section class="wellcome_area clearfix" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md">
                <div class="wellcome-heading">
                </div>
                <div class="get-start-area">
                    <!-- Form Start -->
                    <form action="#" method="post" class="form-inline">
                        <!--<input type="email" class="form-control email" placeholder="name@company.com">
                        <input type="submit" class="submit" value="Get Started">-->
                    </form>
                    <!-- Form End -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="">
<div class='fullgrey' id='workworkjob'>
  <div class='container section_padding_50'>
    <div class="row">
        <div class="col-12">
            <!-- Section Heading Area -->
            <div class="section-heading text-center">
                <h2>We are looking for</h2>
                <div class="line-shape"></div>
            </div>
        </div>
    </div>
    <!-- ***** Header Part Finish-->


    <!-- ***** Career Part Start-->
  <div id="accordion">
  <div class="card">
    <div id="headingOne">
        <button class="acc_ctrl btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h4 style="color: #ffffff">Mobile/web security and cloud network capacity specialist</h2>
          <!--<h2 id='country'>Singapore</h2>-->
        </button>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <ul>
          <h3>Job description:</h3>
          <li>Ensure that the capacities of network components are able to deliver the agreed service level targets in a cost effective and timely manner and be able to handle network traffic spikes. You have to consider all resources required to deliver the IT service, and plans for short, medium and long term business requirements in a secure environment and minimise any form of security breach. </li>
          <li>To manage, control and predict the performance, utilisation and capacity of all our client’s network resources and individual network components.</li>
          <li>To initiate proactive measures to ensure service availability.</li>
          <li>To translate business needs and plans into capacity and performance requirements for network services, and to ensure that future capacity and performance needs can be fulfilled.</li>

          <h3>Skill requirements:</h3>
          <h5>Specific duties include but are not limited to:</h5>
          <li>Work with the architecture, development and administration teams to review code for security vulnerabilities and embed/improve security threat modelling and secure coding in the development lifecycle.</li>
          <li>Identify application security risks and requirements for new projects and system developments.</li>
          <li>Develop security testing plans and integrate into the software development lifecycle.</li>
          <li>Perform/oversee security testing, fuzzing, and manage remediation of identified vulnerabilities</li>
          <li>Assist with the implementation of rapid mitigating controls, until vulnerability remediation is complete.</li>
          <li>Monitor and proactively report on current threats and vulnerabilities to application security.</li>
          <li>Use of all network reporting and tools available to identify network capacity concerns </li>
          <li>Escalate/recommend network capacity modifications to meet current, forecasted and planned capacity requirements and service levels. </li>
          <li>Perform network sizing analysis on current network build and the rollout/replacement of alternate transport technologies using modeling techniques when possible </li>
          <li>Forecasts future capacity requirements based on business plans, usage trends, sizing of new services, etc. </li>
          <li>Identification of gaps in network reporting tools/systems - submission of requests to remediate </li>
          <li>Analyses available capacity and performance data and reports on performance against targets. </li>
          <li>Raises awareness of capacity or performance thresholds breaches - and assists with the investigation and diagnosis of capacity-related incidents and problems. </li>
          <li>Detailed and executive level reporting on the current and forecasted capacity needs </li>
          <li>Experience in Amazon Web Services and Google Cloud Platform, CDN, load balancing and handling extremely large amount of data transaction. </li>
          <h3></h3>
          <h3></h3>
          <a class="btn careerapply-btn" href="mailto:hello@codigo.co%3Fsubject%3DJob%20Application">Apply now</a>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div id="headingTwo">
        <button class="acc_ctrl btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h4 style="color: #ffffff">Mobile App Developer – Android</h2>
        </button>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <ul>
          <h3>Job description:</h3>
          <li>Prior Android development experience is a requirement.</li>
          <li>Developing and implementing the Android app based on current UI/UX mockups.</li>
          <li>Working to build the Android version around the well documented and developed API.</li>
          <li>Ensuring functionality and usability across all Android devices and versions.</li>
          <li>Updating app to add additional features with new versions.</li>
          <li>Assist in system integration test, maintenance, bug testing and fixing.</li>
          <h3>Skill requirements:</h3>
          <li>Proven expertise in developing applications for Android.</li>
          <li>Must have experience developing apps for multi resolution mobile devices and tablets.</li>
          <li>Development experience with skills in Java & Android Studio.</li>
          <li>Experience with Android network programming (at both raw socket and HTTP protocol levels)</li>
          <li>Knowledge of communication protocols such as HTTP, HTTPS, and TCP/IP etc.</li>
          <li>Experience with commercial software development life cycle, including coding standards, code reviews, and source code management</li>
          <li>Good optimisation and debugging skills, checking for memory leaks etc.</li>
          <li>Proficient understanding of software architectures and design patterns engineering.</li>
          <li>Knowledge on Enterprise Deployment and management of Applications will be a plus.</li>
          <h5>Knowledge of the following web technology would be preferred:</h5>
          <li>Server side technology - .NET</li>
          <h3></h3>
          <h3></h3>
          <a class="btn careerapply-btn" href="mailto:hello@codigo.co%3Fsubject%3DJob%20Application">Apply now</a>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div id="headingThree">
        <button class="acc_ctrl btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h4 style="color: #ffffff">Mobile App Developer – iOS (Swift, Objective C)</h2>
        </button>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <ul>
          <h3>Job description:</h3>
          <li>Development of mobile and web applications for iOS. Prior iOS development experience is a requirement.</li>
          <li>Good knowledge in server side technology.</li>
          <li>Assist in system integration test, maintenance, UAT.</li>
          <h3>Skill requirements:</h3>
          <li>Proven expertise in developing applications for iPhone/iPad, knowledge of iPhone SDK.</li>
          <li>Must have experience developing apps for multi resolution mobile devices and tablets.</li>
          <li>C/C++ skills including Objective C, XML,Cocoa, MVC, and OOP Interfacing with relational databases (Access, MS SQL Server, MySQL etc.).</li>
          <li>Knowledge of communication protocols such as HTTP, HTTPS, and TCP/IP etc.</li>
          <li>Good optimisation and debugging skills, checking for memory leaks etc.</li>
          <li>Proficient understanding of software architectures and design patterns engineering.</li>
          <li>Knowledge on Enterprise Deployment and management of Applications will be a plus.</li>
          <h5>Knowledge of the following web technology would be preferred:</h5>
          <li>Server side technology</li>
          <li>Social media integration. </li>
          <li>Geo location and IoT</li>
          <h3></h3>
          <h3></h3>
          <a class="btn careerapply-btn" href="mailto:hello@codigo.co%3Fsubject%3DJob%20Application">Apply now</a>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div id="headingFour">
        <button class="acc_ctrl btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <h4 style="color: #ffffff">Project Manager</h2>
        </button>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        <ul>
          <h3>Job description:</h3>
          <li>Requirements gathering.</li>
          <li>Schedule creation.</li>
          <li>Timeline tracking.</li>
          <li>Provision of information to creative and development teams.</li>
          <li>Client servicing.</li>
          <h3>Skill requirements:</h3>
          <li>Must have experience with project management for web or app development.</li>
          <li>Skills using project management tools including Asana, Slack, Merlin.</li>
          <li>Understanding of iOS and Android app development.</li>
          <li>Understanding of Responsive Web and Backend development.</li>
          <li>Experience in managing clients.</li>
          <li>Knowledge on Enterprise Deployment and management of Applications will be a plus.</li>
          <h5>Knowledge of the following web technology would be preferred:</h5>
          <li>Mobile (iOS and Android)</li>
          <li>Responsive Web</li>
          <li>Backend</li>
          <h3></h3>
          <h3></h3>
          <a class="btn careerapply-btn" href="mailto:hello@codigo.co%3Fsubject%3DJob%20Application">Apply now</a>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div id="headingFive">
        <button class="acc_ctrl btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <h4 style="color: #ffffff">Internship – Creative, Project Manager, iOS, Android, Web, Backend</h2>
        </button>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        <ul>
          <h3>Job description:</h3>
          <li>Passionate people with a love for mobile and web.</li>
          <li>Willingness to help.</li>
          <li>Be part of an awesome team creating awesome mobile and web platforms.</li>
          <h3>Skill requirements:</h3>
          <li>Some understanding of mobile development.</li>
          <li>Some understanding of web development.</li>
          <h3></h3>
          <h3></h3>
          <a class="btn careerapply-btn" href="mailto:hello@codigo.co%3Fsubject%3DJob%20Application">Apply now</a>
        </ul>
      </div>
    </div>
  </div>

  </div>
  </div>
</div>
</section>
