<section class="wellcome_area clearfix" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md">
                <div class="wellcome-heading">
                </div>
                <div class="get-start-area">
                    <!-- Form Start -->
                    <form action="#" method="post" class="form-inline">
                        <!--<input type="email" class="form-control email" placeholder="name@company.com">
                        <input type="submit" class="submit" value="Get Started">-->
                    </form>
                    <!-- Form End -->
                </div>
            </div>
        </div>
    </div>
</section>
