<section class="wellcome_area teambg clearfix" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md">
                <div class="wellcome-heading">
                </div>
                <div class="get-start-area">
                    <!-- Form Start -->
                    <form action="#" method="post" class="form-inline">
                    </form>
                    <!-- Form End -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ***** Our Team Area Start ***** -->
<section class="special-area gradient-bck section_padding_50" id="services">
  <!-- Team 1 start -->
  <div class="special_description_area">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <!-- Heading Text -->
                  <div class="section-heading text-center">
                      <h2>Meet The Team</h2>
                      <div class="line-shape"></div>
                  </div>
              </div>
          </div>
          <div class="row wow bounceInLeft">
            <div class="col-12 col-md-3 bg-grey">
                <div class="special_description_img">
                <%=image_tag("team-img/team1.jpg")%>
                </div>
            </div>
              <div class="col-12 col-md-5 bg-grey">
                  <div class="special_description_content mt-50">
                      <h3>Web Development Team</h3>
                      <p>Over the past 5 years, we’ve built a diverse team with both local and international experience, combining self-taught coding prodigies with seasoned professionals who’ve trained and worked in Myanmar and abroad. Together we’ve created innovative websites and world-class mobile apps, digitized traditional businesses, crafted client identities, and became leaders in creating effective integrated marketing campaigns.</p>
                      <p style="color: black; text-align: right "> Chan Myae </p>
                  </div>
              </div>
              <div class="col-12 col-md-4">
              </div>

          </div>
      </div>
  </div>
  <!-- Team 1 end -->

  <!-- Team 2 start -->
  <div class="special_description_area mt-80">
      <div class="container">
          <div class="row wow bounceInRight">
            <div class="col-12 col-md-4">
            </div>
              <div class="col-12 col-md-5 bg-grey">
                  <div class="special_description_content mt-50">
                      <h3>Android Development Team</h3>
                      <p>Over the past 5 years, we’ve built a diverse team with both local and international experience, combining self-taught coding prodigies with seasoned professionals who’ve trained and worked in Myanmar and abroad. Together we’ve created innovative websites and world-class mobile apps, digitized traditional businesses, crafted client identities, and became leaders in creating effective integrated marketing campaigns.</p>
                      <p style="color: black; text-align: right "> Ei Zar Paing </p>
                  </div>
              </div>
              <div class="col-12 col-md-3 bg-grey">
                  <div class="special_description_img">
                  <%=image_tag("team-img/team2.jpg")%>

                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Team 2 end -->
  <!-- Team 3 start -->
  <div class="special_description_area mt-80">
      <div class="container">
          <div class="row wow bounceInLeft">
            <div class="col-12 col-md-3 bg-grey">
                <div class="special_description_img">
                <%=image_tag("team-img/team3.jpg")%>
                </div>
            </div>
              <div class="col-12 col-md-5 bg-grey">
                  <div class="special_description_content mt-50">
                      <h3>iOS Development Team</h3>
                      <p>Over the past 5 years, we’ve built a diverse team with both local and international experience, combining self-taught coding prodigies with seasoned professionals who’ve trained and worked in Myanmar and abroad. Together we’ve created innovative websites and world-class mobile apps, digitized traditional businesses, crafted client identities, and became leaders in creating effective integrated marketing campaigns.</p>
                      <p style="color: black; text-align: right "> Ei Zar Paing </p>
                  </div>
              </div>
              <div class="col-12 col-md-4">
              </div>

          </div>
      </div>
  </div>
  <!-- Team 3 end -->

  <!-- Team 4 start -->
  <div class="special_description_area mt-80">
      <div class="container">
          <div class="row wow bounceInRight">
            <div class="col-12 col-md-4">
            </div>
              <div class="col-12 col-md-5 bg-grey">
                  <div class="special_description_content mt-50">
                      <h3>Sales and Marketing Team</h3>
                      <p>Over the past 5 years, we’ve built a diverse team with both local and international experience, combining self-taught coding prodigies with seasoned professionals who’ve trained and worked in Myanmar and abroad. Together we’ve created innovative websites and world-class mobile apps, digitized traditional businesses, crafted client identities, and became leaders in creating effective integrated marketing campaigns.</p>
                      <p style="color: black; text-align: right "> Nay Dun Aung </p>
                  </div>
              </div>
              <div class="col-12 col-md-3 bg-grey">
                  <div class="special_description_img">
                  <%=image_tag("team-img/team4.jpg")%>

                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Team 4 end -->
</section>
    <!-- ***** Our Team Area End ***** -->
