<section class="wellcome_area clearfix" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md">
                <div class="wellcome-heading">
                </div>
                <div class="get-start-area">
                    <!-- Form Start -->
                    <form action="#" method="post" class="form-inline">
                        <!--<input type="email" class="form-control email" placeholder="name@company.com">
                        <input type="submit" class="submit" value="Get Started">-->
                    </form>
                    <!-- Form End -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ***** Our Team Area Start ***** -->
    <section class="our-Team-area bg-white section_padding_50 clearfix" id="team">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <!-- Heading Text  -->
                    <div class="section-heading">
                        <h2>Meet The Team</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <%=image_tag("team-img/team-1.jpg", alt: "")%>
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="https://plus.google.com/"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    <a href="https://www.instagram.com/"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>Kazuhiro Miyajima</h4>
                            <p>CEO</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <%=image_tag("team-img/team-2.jpg", alt: "")%>
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="https://plus.google.com/"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    <a href="https://www.instagram.com/"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>Sai Ye Khaung</h4>
                            <p>Project Director</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <%=image_tag("team-img/team-3.jpg", alt: "")%>
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="https://plus.google.com/"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    <a href="https://www.instagram.com/"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>Chan Myae</h4>
                            <p>Web Development Team Lead</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <%=image_tag("team-img/team-4.jpg", alt: "")%>
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="https://plus.google.com/"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    <a href="https://www.instagram.com/"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>Ei Zar Paing</h4>
                            <p>Android & iOS Team Lead</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Our Team Area End ***** -->
