 <!-- ***** Footer Area Start ***** -->
    <footer class="footer-social-icon text-center section_padding_70 clearfix">
        <!-- footer logo -->
        <div class="footer-text">
          <%=image_tag("core-img/logo_footer.gif", alt: "")%>
        </div>
        <!-- social icon-->
        <div class="footer-social-icon">
            <a href="https://www.facebook.com/"><i class="active fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://plus.google.com/"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        </div>
        <div class="footer-menu">
            <nav>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
        <!-- Foooter Text-->
        <div class="copyright-text">
            <!-- ***** Removing this text is now allowed! This template is licensed under CC BY 3.0 ***** -->
            <p>Made with love by <a href="http://www.cloudsourcemyanmar.com/" target="_blank">Cloudsource Myanmar</a></p>
        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->
